.background__top {
  background-image: url('~images/content/pf1.png');
  position: absolute;
  width:100%;
  height: 1633px;
  z-index: -1;
}

.background__bottom {
  background-image: url('~images/content/pf2.png');
  bottom: 0;
  position: absolute;
  width:100%;
  height: 1784px;
  z-index: -1;
}
