.header {
  display: flex;
  justify-content: space-between;
  aline-items: center;
  margin-top: 65px;
}

.header__btns {
  margin: 0 20px;
}

.logo {
  font-family: "Open Sans - Extrabold";
  font-size: 36px;
  font-weight: bold;
}
