.link__site {
    text-decoration: none;
    font-size: 18px;
    color: #586ed3;
    font-weight: bold;
    display: flex;
    align-items: center;

    @include tablets() {
        justify-content: center;
    }

    @include phones() {
        justify-content: flex-start;
    }

    .look {

        &:hover {
            text-decoration: underline;
        }
    }
    
}

.link {
    fill: #586ed3;
    width: 15px;
    height: 15px;
    margin-right: 20px;
}
