.reviews__switch {
    width: 180px;
    height: 51px;
    display: flex;
}

.reviews__switch-left, .reviews__switch-right {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #545f72;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.arrow__right {
    width: 8px;
    height: 10px;
    fill: #545f72;
    transform: rotate(180deg);
}

.arrow__left {
    width: 8px;
    height: 10px;
    fill: #545f72;
}