.reviews__title__container {
    display: flex;
    align-items: center;
    margin-bottom: 96px;

    .reviews__title {
        font-size: 36px;
        font-weight: bold;
        margin-right: 77px;
    }
}




