.hero__bottom-btn {
    position: absolute;
    display: flex;
    align-items: center; 
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 170px;

    .scroll-down-btn {
        text-decoration: none;
    }

    .scroll__icons {
        width: 30px;
        height: 30px;
        fill: #464d62;
    }
}

