.skill {
    position: relative;
    width: 143px;
    height: 143px;

    .skill__title {
        position: absolute;
        top: 60px;
        left: 40px;
    }
}

.skill__circle--above {
    stroke-dasharray: 300;
    stroke-width: 20px;
    fill: transparent;
}

.skill__circle--under {
    stroke: #e9e9e9;
    stroke-width: 10px;
    fill: transparent;
}

.skills__content {
    display: -webkit-box;
}