.socials__icon {
  width: 100%;
  height:100%;
  
}

.socials__link {
  width: 30px;
  height: 30px;
  display: block;
}

.socials {
  display: flex;
}

.socials__item {
  margin-right: 40px;

  &:last:child {
    margin-right: 0;
  }
}

.socials__icon {

  &:hover {
    fill: #5500f2;
  }
}