.triangles {
    display: flex;
    color: #fff;
}

.triangle {
    fill: currentColor;
}

.triangles__item {
    width: 50%;
    height: 125px;
}

.my__works__triangles {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;

    .triangles {
        fill: #4a00ed;
    }
}

