.triangles {
    display: flex;
    color: #fff;
}

.triangle {
    fill: currentColor;
}

.triangles__item {
    width: 50%;
    height: 125px;
}

.reviews__triangles {
    position: absolute;
    left: 0;
    right: 0;

    .triangle__reviews {
        fill: #dce7f3;
    }
}

