.user-data {
    padding: 120px;
    text-align: center;

    .user-data__desc {
    color: #464d62;
    font-size: 18px;
    margin-bottom: 10px;
    opacity: 0.4;
    }

    .user-data__name {
    font-size: 72px;
    font-weight: bold;
    }
}