script(type="text/x-template")#skills-list
    .values-section__content
        ul.skills__list
            li.skills-list__item.skills-row
                skills-row
                

script(type="text/x-template")#skills-row
    .skills-row__title
        ul.skills-row__list
            li.skills-row__item
                skill
                

script(type="text/x-template")#skill
    .skill
        svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__circle
            defs.defs
            linearGradient(x1="0%" y1="50%" x2="100%" y="100%")#skill__gradient
                stop(offset="0%" stop-color="#7b00e9")
                stop(offset="100%" stop-color="#4a00ed")
            circle( r="67" cx="100" cy="100").skill__circle.skill__circle--under
            circle( r="67" cx="100" cy="100" stroke="url(#skill__gradient)").skill__circle.skill__circle--above
        .skill__title