script(type="text/x-template")#slider-container
    .my__works__container
        display(
            :currentWork = "currentWork"
            :works="works"
            :currentIndex="currentIndex"
            @slide="handleSlide"
            :setWork="setWork"
        )
        info(
            :currentWork = "currentWork"
        )

script(type="text/x-template")#slider-display
    .my__works-left
        .container__covers
            .big__cover(:data-slide="currentIndex + 1")
                img(:src="currentWork.photo").big-cover__img
                thumbs(
                    :works="reversedWorks"
                    :currentWork="currentWork"
                    :setWork="setWork"
                    :currentIndex="currentIndex"
                )
                btns(
                    @slide="$emit('slide', $event)"
                )

script(type="text/x-template")#slider-thumbs
    .little__covers
        ul.little__covers-list  
                li.little__cover(
                    v-for="(work, index) in works" 
                    :key="work.id"
                    :class="{little__cover__active: currentWork.id === work.id}" 
                )
                    button(@click="setWork(index)").link__site
                        img(:src="work.photo").cover__img

script(type="text/x-template")#slider-btns
    .switch
        button(@click="$emit('slide', 'next')").switch__down
            +icon("arrow-down", "arrow__top")
        button(@click="$emit('slide', 'prev')").switch__up
            +icon("arrow-down", "arrow__bottom")

script(type="text/x-template")#slider-info
    .my__works-right
            .technologies 
                tags(
                    :tags="tagsArray"
                )
            h2.site__title {{currentWork.title}}
            p.site__content {{currentWork.desc}}
            a(:href="currentWork.link").link__site
                +icon("link", "link")
                p.look Посмотреть сайт

script(type="text/x-template")#slider-tags
        ul.technologies__list
                li.features__block(v-for="tag in tags" :key="tag")
                    .features__txt {{tag}}
    
